#ulStaffRole li{width: 47%;}
.box-comments .box-comment{cursor: pointer;}
.box-comments .box-comment.active {background-color: #c6c9ce;}
.box-comment span.online {
    background: rgb(66, 183, 42);
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
#chatForm .input-group{width: 100%;margin-bottom: 10px;}
#chatMsg{resize: none;overflow: hidden;display: block;}
#chatForm .lbChatEnter{float: left;height: 33px;line-height: 33px;}
#chatForm .input-group-btn{float: right;margin-right: 72px;}
#listChat .direct-chat-msg .direct-chat-text a{color: #3c8dbc;}
#listChat .direct-chat-msg.right .direct-chat-text a{color: #fff;}
/*#listChat .direct-chat-msg.unread .direct-chat-text{background-color: #E98561;border: 1px solid #E98561;color: #fff;}
#listChat .direct-chat-msg.unread .direct-chat-text a{color: #0000ff;}
#listChat .direct-chat-msg.unread .direct-chat-text:after, #listChat .direct-chat-msg.unread .direct-chat-text:before{border-right-color: #E98561;}
#listChat .direct-chat-msg.unread.right>.direct-chat-text:after, #listChat .direct-chat-msg.unread.right>.direct-chat-text:before{border-left-color: #E98561;}*/
#listChat .direct-chat-text img{max-width: 100%;}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
    color: #fff;
}
.checkbox label{
    color: #fff;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    background: #fff;
    color: #3c8dbc;
}

.radio .cr {
    border-radius: 50%;

}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
    color: #fff;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}