@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=vietnamese');
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;	}
html,body { height:100% ;font-size: 13px;}
.body_border{
	width: 797px;

	left: 0;
	right: 0;
	margin: auto;
	border:1px solid #ddd;
	padding: 40px;
	font-size: 13px;
	position: absolute;
	/*overflow: hidden;
	/*background: url('../vendor/dist/img/wing.png');*/
	background-repeat: no-repeat;
	background-position: 25% 75%;

}
.content_border{
	width: 797px;
	left: 0;
	height: 100%;
	right: 0;
	margin: auto;
	border:1px solid #ddd;
	padding: 40px;
}
	.background{
/*
	position: absolute;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: 95px 24%;
	left: 0;
	top: 0;*/

}
.top{position: relative;}
.top h1{font-size: 24px; font-weight: 400;margin-bottom: 10px; }
.mid h1{font-size: 25px; font-weight: 500;margin-bottom: 20px;}
p{margin-bottom: 5px;}
.mt-15{margin-top: 15px;}
.mt-22{margin-top: 48px;}
.mt-10{margin-top: 10px;}
.wrap-right-t{
	position: absolute;
	right:0px;
	top:0px;
}
.top{ padding-bottom: 15px; border-bottom:1px solid #c7c7c7; }
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
/*.wrap-content{overflow: hidden;}*/
.content-l{float: left; width:35%; margin-right: 4%;}
.content-img{float: left; width:20%; margin-right: 4%;}
.content-r{float: left; width:61%;  margin-bottom: 5px;}
.title-line{font-weight: 500; border-bottom: 2px solid #000; padding-bottom: 8px; margin-bottom: 12px;}
.mgbt-0{margin-bottom: 0px;}
.order-info .item{margin-bottom: 13px;}
.order-info{border-right:1px solid #ddd;border-bottom:1px solid #ddd; padding-top: 10px;}
table {
  border-collapse: collapse;
}
tbody tr, thead tr{border-bottom: 1px solid #ddd; margin-bottom: 5px;}
thead th {padding: 0 0 8px 0}
tbody tr td{}
tbody tr .tdPaddingLeft{padding-left: 10px;}
.pull-right{float: right;}
.payment-info{padding-bottom: 5px; border-bottom: 1px solid #ddd; margin-bottom: -10px;}
.clear-b{clear: both}
.w-33{
	margin-top: 0px;
	float: left;
	width: 33.33%;
}
.c-ddd{color:#777; font-size: 13px}
.wrap-right-t img{height: auto}
.bottom{
	clear: both;
	margin-top: 5px;
}