.promotion {
  padding: 15px;
  position: absolute;
  top: 35px;
  left: 0;
  display: none;
  z-index: 1000;
  width: 265px;
  background: white;
  box-shadow: 0 1px 10px;
}
.promotion .content-promotion {
  border-bottom: 1px solid #EEEEEE;
  margin: 0 -15px;
  padding: 0 15px;
}
.promotion .content-promotion .promotion-input .input-group-addon {
  border-left: 0 !important;
  cursor: pointer;
}
.promotion .content-promotion .promotion-input .active {
  background: #EEEEEE;
  color: black;
}
.promotion .content-promotion .form-group label {
  font-weight: 400 !important;
}
.promotion .footer-promotion {
  padding-top: 15px;
  text-align: right;
}
/*.promotion .footer-promotion button.apply-promotion {
  color: #EEEEEE ;
}
.promotion .footer-promotion button.active {
  color: white !important;
}*/

.border-input{
  border: 2px solid #00EE00!important;
}

.transport {
  padding: 15px;
  position: absolute;
  top: 35px;
  left: 0;
  display: none;
  z-index: 1000;
  width: 265px;
  background: white;
  box-shadow: 0 1px 10px;
}
.transport .content-transport {
  border-bottom: 1px solid #EEEEEE;
  margin: 0 -15px;
  padding: 0 15px;
}
.transport .content-transport .form-group label {
  font-weight: 400 !important;
}
.transport .footer-transport {
  padding-top: 15px;
  text-align: right;
}


.box-step-order {
  padding: 34px 0 0 0;
  margin-bottom: -14px;
}

.box-step-order.has-slider {
  padding: 0  20px;
}

.box-step-order.has-slider .bx-viewport {
  height: 200px !important;
}

.box-step-order.has-slider .bx-controls .bx-controls-direction a {
  font-size: 16px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 16px;
  background: #357ebd;
  color: #fff;
  cursor: pointer;
}

.box-step-order.has-slider .bx-controls .bx-controls-direction .bx-prev {
  left: 15px;
}

.box-step-order.has-slider .bx-controls .bx-controls-direction .bx-next {
  right: 15px;
}

.box-step-order ul {
    line-height: 85px;
}

.box-step-order li {
    float: left;
    text-align: center;
    height: 85px;
    line-height: 85px;
    /*border: 1px solid red;*/
}
.box-step-order a img{
  border: 1px solid #357ebd;
}
.box-step-order a span {
    /*height: 40px;*/
    line-height: 20px;
    /*width: 40px;*/
    display: block;
    text-align: center;
    
}

/*css order tags*/
.tbodyProductSearch tr.pProduct td.productName {
    color: #1782db;
}
.tbodyProductSearch tr.cProduct img.productImg {
    padding-left: 15px;
}
